@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>
    Use this page to detail your site's privacy policy. 
    Your privacy is important to us. This policy explains how we handle your data, 
    including the information we collect, how we use it, and your rights regarding your personal information.
</p>

<h2>Information Collection</h2>
<p>
    We collect information from you when you register on our site, place an order, subscribe to our newsletter, or fill out a form.
</p>

<h2>Use of Information</h2>
<p>
    The information we collect from you may be used to personalize your experience, improve our website, process transactions, 
    and send periodic emails for updates and services.
</p>

<h2>Data Protection</h2>
<p>
    We implement a variety of security measures to maintain the safety of your personal information. 
    Your personal data will not be sold, exchanged, or transferred without your consent, other than for the express purpose of delivering the purchased product or service requested.
</p>

<h2>Consent</h2>
<p>
    By using our site, you consent to our website's privacy policy. If you have any questions or concerns, please contact us.
</p>